table, tr, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}
th, td{
    min-width: 200px;
}
th{
    background-color: bisque;
}
tr{
    background-color: #cdf6e8;
}